.App {
  text-align: center;
  font-family:'Segoe UI';
}
html {
  scroll-behavior: smooth;
}
.App-logo {
  height: 50vh;
  width:auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2s 20s linear;
  }
}

.header {
  /* background-color: #305296; */
  /* /* background-image: url(./GGlogo.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
	background-position: 0% 35%; */
  height:99vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
#backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  left: 93%;
  bottom: 7%;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after {
  top: 30%;
  animation-delay: .3s;
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
/* .about { */
  /* background-color:whitesmoke; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
/* } */

.aboutContent {
	/* margin: auto 5%; */
  text-align: center;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
}

.aboutTitle {
  font-size: 4.5em;
  color: rgb(22, 143, 143);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: 400;
}


.aboutParagraph {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 5%;
}
.bubbiePic {
  height: 45vh;
  width: 20vw;
  margin-bottom: 2%;
}

.bubbie {
  background-color: whitesmoke;
  font-family: Roboto;
  text-align: left;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.bubbieContent {
  margin: 0 7%;
  font-size: x-large;
  color: darkcyan;
}
.bubbieSocials {
  display: flex;
  /* flex-direction:row; */
  justify-content:space-evenly;
  align-content:space-between;
  margin: 0 5%;
}
.squadCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  .squadCards > div {
    margin: 1%;
  }

@media (max-width: 768px) {

  .header {
    background: url("./logoImage.png") no-repeat;
    background-size:cover;
    background-position: center;
    height: 55vh;
  }
  #backgroundVideo {
    display: none;
  }

.scroll-down {
  display: none;
}



}